body {
    overflow-x: hidden;
    padding-top: 72px;
}

/* change font size tbody td from table with class table-sm */

.table-new {
    padding: 0.35rem;
}

.table-new .table-header {
    background: #E0F7FF !important;
    border-top: 2px solid #B3D7E5;
}

.table-new thead th {
    font-size: 14px;
}

.table-new tbody td {
    font-size: 14px;
}